/*html {
  box-sizing: border-box;
}*/
header{
  padding-top: 14px;
  padding-bottom: 47px;
  width: 1295px;
  max-width: 100%;
  background-color: red;
}
button[type= "button"]{
  color: red;
  width: auto;
  max-width: 100%;

}

.contenido {
  width: 1295px;
  background-color: orange;
  margin-right: 9px;
  text-align: right;
  max-width: 100%;
  /*margin: auto;
  height: auto;
  padding: 0 auto;
  max-width: 100%;*/
}
.content-agents{
  width: 1295px;
  max-width: 100%;
}
.header-agents{
  padding: 50px;
  width: 1295px;
  max-width: 100%;
}
.btn-agents{
  border-radius: 7px;

}
.content-left{
  width: 490px;
  height: auto;
  height: auto;
  float: left;
  border-style: solid;

}

.content-right{
  width: 792px;
  float: right;
  border-style: solid;
}
.panel-agents{
  background-color:#E0E0E0;
  height:auto;
  overflow:hidden;
}
.sign-out{
  text-decoration: none;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;

}

.text-center {
  text-align: center;
}
ul.menu {
    list-style-type: none; // quita los iconos de la listas
}

ul.menu li {float: right;}

ul.sub-menu li {
  float: left;
  list-style-type: none;
  margin: 5px;
  }

ul.menu li button {
    display: block;
    color: #7a7575;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


ul.menu li a:hover:not(.active) {background-color: #7a7575; color: white}

ul.menu li a.active {background-color: white;}

@media screen and (max-width: 1000px){
    ul.menu li.right, button[type= "button"],
    ul.menu li {float: none;}


}
