.content-table{
  margin:20px;
}
.content-history{
  margin:20px;
}
.content-left{
  height: auto;
  float: left;
  width: 67%;
  background-color: white;
}
.content-right{
  height: auto;
  float: right;
  background-color: white;
  width: 30%;
}
  body{
    background-color: pink;
  }
  .circle{
    float: left;
    width: 35px;
    height: 35px;
    background: gray;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 10px 8px 10px 15px;
    display: block;
  }
  .panel-agents{
    background-color: yellow;
    width: 574px;
    height: 56px;
    margin: 20px 20px;
  }
  header{
    padding: 5px;
    max-width: 95%;
    background-color: gray;
  }
  .header-titulo{
    float: left;
    font-size: 35px;
  }
  header-option{
    float: right;
  }
  .text-right {
    text-align: right;
  }
  .content-agents{
    margin-top: 0px;
    width: 1295px;
    max-width: 100%;
    position: relative;
  }
  .menu{
    margin-right: 50px;
    list-style-type: none;
  }
  .sub-menu{
    list-style-type: none; // quita los iconos de la listas
    background-color: gray;
  }
  .header-option{
    margin: auto;
    position: relative;
  }

  .header-agents{
    height: 40px;
    background-color: gray;
  }
  .agents-text-left{
    float: left;
    font-size: 28px;
    margin-left: 14px;
  }

  .btn-agents{
    float: left;
    border-radius: 7px;
    /*margin-left: 28px;
    padding: 7px 7px;  */ //los esta poniendo en escalera
  }

  ul.menu li button {
    color: black;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    border-style: solid;
    border-color: black;
  }
  ul.menu li {
    float: right;
    } //los pone de manera horizontal

/*
.content-dasboard{
  display: none;
}
.content-myCruise{
  display: none;
}
button[type= "button"]{
  color: red;
  width: auto;
  max-width: 100%;

}

.contenido {
  width: 1295px;
  background-color: orange;
  margin-right: 9px;
  text-align: right;
  max-width: 100%;

}
.header-agents{
  padding: 50px;
  width: 1295px;
  max-width: 100%;
}

.panel-agents{
  background-color:#E0E0E0;
  height:auto;
  overflow:hidden;
}

.text-left {
  text-align: left;

}

.text-center {
  text-align: center;
}


ul.menu li a:hover:not(.active) {background-color: #7a7575; color: white}

ul.menu li a.active {background-color: white;}

@media screen and (max-width: 1000px){
    ul.menu li.right, button[type= "button"],
    ul.menu li {float: none;}


}*/
